name: Build and deploy
on:
  push:
    branches:
      - master
env:
  PRJ_NAME: mpshort
jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          docker build . --file Dockerfile --tag ${PRJ_NAME} --label "runnumber=${GITHUB_RUN_ID}"
          docker run --name=build-${PRJ_NAME} ${PRJ_NAME} ant
          docker cp build-${PRJ_NAME}:/${PRJ_NAME}/target/${PRJ_NAME}.pdf .
      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@5.2
        with:
          switches: -avz --progress
          path: ${PRJ_NAME}.pdf
          remote_path: ${{ secrets.DEPLOY_PATH }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_port: ${{ secrets.DEPLOY_PORT }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}
