name: Build and deploy
on:
  push:
    branches:
      - master
env:
  PRJ_NAME: mpshort
jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          echo HELLO >HELLO
      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@5.2
        with:
          rsh: -oHostKeyAlgorithms=+ssh-rsa 
          switches: -avz -vvv --progress
          path: HELLO
          remote_path: ${{secrets.DEPLOY_PATH}}
          remote_host: ${{secrets.DEPLOY_HOST}}
          remote_port: ${{secrets.DEPLOY_PORT}}
          remote_user: ${{secrets.DEPLOY_USER}}
          remote_key: ${{secrets.DEPLOY_KEY}}
